.reset-password-strength-fill {
  transition: width 0.3s ease;
}

.reset-password-strength-0 {
  width: 0;
}

.reset-password-strength-1 {
  width: 20%;
}

.reset-password-strength-2 {
  width: 40%;
}

.reset-password-strength-3 {
  width: 60%;
}

.reset-password-strength-4 {
  width: 80%;
}

.reset-password-strength-5 {
  width: 100%;
}
